<h2>Регистрация</h2>
{{#if signupErr }}<p class="alert">{{signupErr}}</p>{{/if}}
<form action="/account/signup" method="POST">
  <div class="input-field">
    <input id="regemail" type="text" class="validate" name="email" required>
    <label for="regemail">email</label>
    <span class="helper-text" data-error="Введите email"></span>
  </div>
  <div class="input-field">
    <input id="regpassword" type="password" name="password" class="autocomplete" required>
    <label for="regpassword">password</label>
    <span class="helper-text" data-error="Введите password"></span>
  </div>
  <div class="input-field">
    <input id="confirm" type="password" name="password-confirm" class="autocomplete" required>
    <label for="confirm">password confirm</label>
    <span class="helper-text" data-error="Введите password"></span>
  </div>
  <button class="btn" type="submit">Зарегистрироваться</button>
</form>