<div class="container">
    <h2>Welcome</h2>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum, repellat beatae obcaecati reiciendis eum
        tempora nemo enim quos earum, magnam ad consectetur soluta animi recusandae aliquam veniam dolores quasi quam.
    </p>
</div>